#aside-content > .card-widget.card-info {
  background: linear-gradient(-45deg, var(--anzhiyu-main), #031764, #150136, #67044d);
  background-size: 400%;
  box-shadow: var(--anzhiyu-shadow-black);
  animation: gradient 15s ease infinite;
  position: relative;
  color: var(--anzhiyu-white);
}
.site-data > a .headline,
.site-data > a .length-num {
  color: var(--anzhiyu-white);
}
/* 信息卡片彩带 */
.author_top:hover {
  background: url(https://tuchuang.voooe.cn/images/2023/01/02/snow.gif);
  background-size: cover;
}